.transaction li {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 12px;
  margin: 10px 0;
}

.transaction__left {
  padding: 10px;
}

.transaction__right {
  display: flex;
  align-items: center;
}

.transaction__right > span {
  padding: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.transaction__button {
  cursor: pointer;
}
